name: build
on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: ⚙️ build
        uses: likec4/actions@v1.89.0
        with:
          action: build
          path: nhs-notify/c4
          output: dist
          base: /baseurl/

      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: likec4
          path: dist

  deploy:
      # Add a dependency to the build job
      needs: build

      # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
      permissions:
        pages: write      # to deploy to Pages
        id-token: write   # to verify the deployment originates from an appropriate source

      # Deploy to the github-pages environment
      environment:
        name: github-pages
        url: ${{ steps.deployment.outputs.page_url }}

      # Specify runner + deployment step
      runs-on: ubuntu-latest
      steps:
        - name: Deploy to GitHub Pages
          id: deployment
          uses: actions/deploy-pages@v4 # or specific "vX.X.X" version tag for this action
          artifact_name: likec4
